<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.una.embyhub.mapper.SupportTicketReplyMapper">
  <resultMap id="BaseResultMap" type="com.una.embyhub.model.entity.SupportTicketReply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ticket_id" jdbcType="BIGINT" property="ticketId" />
    <result column="reply_content" jdbcType="LONGVARCHAR" property="replyContent" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="emby_user_name" jdbcType="VARCHAR" property="embyUserName" />
    <result column="reply_role" jdbcType="INTEGER" property="replyRole" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ticket_id, reply_content, user_id, emby_user_name, reply_role, create_datetime,
    update_datetime, create_user_name, update_user_name, update_user_id, create_user_id, del_flag
  </sql>
</mapper>
